<p><b>Welcome To FitCount</b></p>
<li>A stripped-down application to keep track of your daily lifts.</li>
<li>Everything you need, without any of the unnecessary.</li>
<li>To get started, create an account or click login if you already have one.</li>
</ul>
</div>

</div>
</div>