<li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
<li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
<li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
<li><b>Logged In User's Id:</b> <%= session[:id] %></li>
</ul>
</div>

</div>
</div>